################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Base de Datos TurismoImperial/TurismoImperialV1/TurismoImperialV1.sln
